{% extends 'base.html' %}
{% load static %}

        {% block content %}
        <!-- Login Start -->
        <div class="login"  >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="register-form">
                            <form method="POST" >
                                {% csrf_token %}
                                {% for message in messages %}
                                <center><font color = "red">{{message}}</font></center>
                                {% endfor %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Name</label>
                                    <input name="f_name" class="form-control" type="text" placeholder="First Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Last Name</label>
                                    <input name="l_name" class="form-control" type="text" placeholder="Last Name">
                                </div>
                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <input name="email" class="form-control" type="text" placeholder="E-mail">
                                </div>
                                <div class="col-md-6">
                                    <label>Username</label>
                                    <input name="username" class="form-control" type="text" placeholder="Username">
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input name="password" class="form-control" type="text" placeholder="Password">
                                </div>
                                <div class="col-md-6">
                                    <label>Retype Password</label>
                                    <input name="cpassword" class="form-control" type="text" placeholder="Password">
                                </div>
                                <div class="col-md-12" >
                                    <button type="submit" class="btn">Submit</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {% endblock %}