{% extends 'base.html' %}
{% load static %}

        {% block content %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Wishlist</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Wishlist Start -->
        <div class="wishlist-page">
            <div class="container-fluid">
                <div class="wishlist-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Add to Cart</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {% for i in my_wishlist %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="#"><img src="{{ i.items.image.url }}" alt="Image"></a>
                                                    <p>{{ i.items.name }}</p>
                                                </div>
                                            </td>

                                            <td>
                                                <a href="{{ i.items.add_to_cart }}">
                                                <button class="btn-cart" >Add to Cart</button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/wishlist/delete_wishlist/{{ i.slug }}">
                                                    <button><i class="fa fa-trash"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wishlist End -->
        
        {% endblock  %}